<div class="jumbotron main_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="pull-right">
        <a class="btn btn-default" title="Edit profile">
          <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
        </a>
      </div>
       <center>
          <%= gravatar_for_profile current_user, size: 50 %> <br>
          <span class="m-t-14 text_name">
            <%= truncate_user_name(30) %>
          </span>
          <div class="text_email">
            <%= current_user.email %>
          </div>
       </center>
      </div>
    </div>
  </div>
</div>