<div class="row">
 
  <div class="col-lg-6 well">
    <h3>Friends</h3>
    <%#= render 'shared/flash_message' %>
    <hr>
    <div id="friends">
      <%= render(@friends) || render('shared/no_resource', resources: 'Friends') %>
    </div>
  </div>
</div>