<div class="footer">
  <span class="footer_copyright"> Copyright © 2017 CodeZen. All rights reserved.</span>
  <span class="footer_text footer_li"><%= link_to 'Terms of Service', root_path %></span> | 
  <span class="footer_text footer_li"><%= link_to 'Privacy Policy', root_path %></span> | 
  <span class="footer_text footer_li"><%= link_to 'Contact', root_path %></span>
</div>