<div class="no-resource text-center">
  <h3 style="color: red;"> <b>Oops!</b> No <%= resources %> found.</h3>
    <a href="<%= user_dashboard_path(@user)%>" class="btn btn-default m-t-14"> Back </a>
</div>