 <noscript>
      <h1 style="color: red; margin-top: 30px;" class="text-center">This platform requires JavaScript activated.</h1>
      
      <style type="text/css">
        .container {
          display: none;
        }
      </style>
    </noscript>