<div class="col-md-3 hidden-sm hidden-xs m-t-80">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Personal settings</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item"> <%= link_to 'Basic settings', edit_user_registration_path %> </li>
          <li class="list-group-item"><%= link_to 'Connection settings', users_connections_path %></li>
          <li class="list-group-item">Account Log</li>
        </ul>
      </div>
</div>