body {
    position: relative;
    margin: 0px;
    min-height: 100%;
    padding-bottom: 6rem;
    /* Helps with making footer show after error */
}


/* Navbar */

.top_bar {
    background-color: #061338;
    border-color: #061338;
}

.brand_text {
    font-size: 24px;
    color: #fff !important;
}

.nav_link_text {
    color: #fff !important;
}

.nav_li a:hover {
    color: #337ab7 !important;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:hover {
    text-decoration: underline;
    color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #061338;
}

.icon-bar {
    background-color: #fff !important;
}


/* user nav */

#nav_search input[type=text] {
    width: 250px !important;
}

.btn-zen {
    color: #fff;
    background-color: #003366;
}

.btn-zen:hover {
    color: #fff;
    background-color: #061338;
}

i.glyphicon.glyphicon-search {
    color: #fff;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}


<<<<<<< HEAD
/* User Profile */
=======
/* User profile */

.user_header {
    font-family: 'Open Sans'
}
>>>>>>> connections

.btn_cancel {
    margin-left: 20px;
}


/* Form aspect */

.field_with_errors .help-block,
.field_with_errors .control-label,
.field_with_errors .radio,
.field_with_errors .checkbox,
.field_with_errors .radio-inline,
.field_with_errors .checkbox-inline,
.field_with_errors.radio label,
.field_with_errors.checkbox label,
.field_with_errors.radio-inline label,
.field_with_errors.checkbox-inline label {
    color: #a94442;
}

.field_with_errors .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #d9534f;
}

.field_with_errors .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.field_with_errors .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

.field_with_errors .form-control-feedback {
    color: #a94442;
}


/* #error_explanation {
  color: red;
}*/

#error_explanation ul {
    color: red;
    margin: 0 0 30px 0;
}


/* FAQ */


/*.col-md-5 { margin-top: 30px; }*/


/* Auth page*/

.auth_header {
    color: #fff;
    margin-bottom: 20px;
}

.links {
    margin-top: 15px;
    margin-bottom: 20px;
}

a.forgot_link,
a.forgot_link:hover {
    color: #337ab7 !important;
}

a.auth_links,
a.auth_links:hover {
    color: #fff !important;
}

.card-box {
    margin-top: 40px;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.m-t-t {
    margin: 15px 0px 30px 0px;
}


/* Footer Styles */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
}

.footer_text {
    color: #337ab7;
    font-size: 14px;
}

.footer_li a:hover {
    text-decoration: underline !important;
    color: #337ab7 !important;
}

.footer_copyright {
    color: #777;
    font-size: 14px;
}